<?xml version = "1.0"?>
<launch>
  <!--*********** Arguments ************ -->
  <arg name="open_rviz" default="true"/>  
  <arg name="move_forward_only" default="false"/>
  <arg name="debug" default="true"/> 
  
  <!--*********** Launch the robot and the Gazebo world model ***********-->
  <include file="$(find romr_ros)/launch/romr_house.launch"/>

  <!--*********** Map server ***********-->
 <node pkg="map_server" name="map_server" type="map_server" args="$(find romr_ros)/maps/cps_world.yaml"/>
  
  <!--*********** AMCL algorithm ***********-->  
  <include file="$(find romr_ros)/launch/amcl.launch"/> 
   
  <!--*********** move_base ***********-->  
  <include file="$(find romr_ros)/launch/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!--*********** OctoMap Node ***********-->
  <include file="$(find romr_ros)/launch/octoMap.launch"/> 
    
  <!--*********** Rviz ***********-->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find romr_ros)/config/romr_navigation.rviz"/>
  </group>   
  
  <!--*********** GMapping node ***********
  <node pkg="gmapping" type="slam_gmapping" name="gmapping">
    <param name="base_frame" value="base_link"/>
    <param name="odom_frame" value="odom" />
    <param name="delta" value="0.1" />
  </node>  -->
  
<!--*********** Object detection and segmentation model ***********
  <include file="$(find ultralytics_ros)/launch/tracker.launch">
    <arg name="debug" value="true"/>
  </include> -->

</launch>

