<?xml version="1.0" ?>
<launch>
    <!-- Gmapping  --> 
    <node pkg="gmapping" type="slam_gmapping" name="gmapping">
        <param name="base_frame" value="base_link"/>
        <param name="odom_frame" value="odom"/>
        <param name="delta" value="0.1"/>
    </node>
 
  <!-- Rviz  -->
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find romr_ros)/config/rviz_config.rviz" /> 
    
</launch>
